
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/src/main/jniLibs/

# BUCK
buck-out/
\.buckd/
*.keystore

# Used in development (see wml node package)
.watchmanconfig
